{
  "env": {
    "browser": false,
    "jquery": false,
    "node": true,
    "qunit": true
  },
  "extends": "../js/.eslintrc",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": [
      2,
      "never"
    ]
  }
}
